In [1]:
import pandas as pd
import numpy as np

data = pd.read_excel('data.xlsx')
data.head()

          일자    종목 1     종목 2
0 2023-04-05  872.36  2495.21
1 2023-04-06  865.58  2459.23
2 2023-04-07  880.07  2490.41
3 2023-04-10  887.78  2512.08
4 2023-04-11  898.94  2547.86

In [6]:
data['종목1_일일수익률'] = data['종목 1'].pct_change()
mean_data1 = data['종목1_일일수익률'].mean()
mean_data1 * 100

0.02870892048741326

In [9]:
data['종목2_일일수익률'] = data['종목 2'].pct_change()
std_data2 = data['종목2_일일수익률'].std()
std_data2 * 100

0.9779932614718856

In [12]:
print(data)

            일자    종목 1     종목 2  종목1_일일수익률  종목2_일일수익률
0   2023-04-05  872.36  2495.21        NaN        NaN
1   2023-04-06  865.58  2459.23  -0.007772  -0.014420
2   2023-04-07  880.07  2490.41   0.016740   0.012679
3   2023-04-10  887.78  2512.08   0.008761   0.008701
4   2023-04-11  898.94  2547.86   0.012571   0.014243
..         ...     ...      ...        ...        ...
238 2024-03-26  916.09  2757.09   0.002627   0.007130
239 2024-03-27  911.25  2755.11  -0.005283  -0.000718
240 2024-03-28  910.05  2745.82  -0.001317  -0.003372
241 2024-03-29  905.50  2746.63  -0.005000   0.000295
242 2024-04-01  912.45  2747.86   0.007675   0.000448

[243 rows x 5 columns]

In [14]:
# DataFrame 생성
df = pd.DataFrame(data)

# 종목1과 종목2의 일일 수익률에 대한 가중 평균 계산 (50%씩 투자)
df["포트폴리오_일일수익률"] = (df["종목1_일일수익률"] + df["종목2_일일수익률"]) / 2

# 포트폴리오 일일 수익률의 평균 계산
portfolio_daily_return_avg = df["포트폴리오_일일수익률"].mean()

portfolio_daily_return_avg * 100

0.036656872688866665

In [20]:
df.columns

Index(['일자', '종목 1', '종목 2', '종목1_일일수익률', '종목2_일일수익률', '포트폴리오_일일수익률'], dtype='object')

In [17]:
portfolio_daily_std_avg = df["포트폴리오_일일수익률"].std()
portfolio_daily_std_avg*100

1.1237057226062324

In [22]:
df[['종목1_일일수익률', '종목2_일일수익률']].corr()

           종목1_일일수익률  종목2_일일수익률
종목1_일일수익률   1.000000   0.733974
종목2_일일수익률   0.733974   1.000000

In [28]:
sharpe_ratio = ((portfolio_daily_return_avg) -  0.0001) / portfolio_daily_std_avg
sharpe_ratio

0.0237222896996919